#############################
# CLONE HERO SERVER CONFIG  #
#############################

# Name of your server, cannot contain spaces
SERVER_NAME="CloneHero Server"
# Password for the server, leave empty for no password
PASSWORD=""
# Port to run the server on, default is 14242
PORT="14242"
# Address to bind the server to, default is all interfaces
ADDRESS="0.0.0.0"